*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
a{
    font-size: 18px;
    color:#e5e7eb;
    text-decoration: none;
}
.section1{
   background-color: #1f2937;
   height: auto;
   width: auto;
}
.header-top{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
#Logo{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
}

