*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********** BOX1 *******/
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
a{
    font-size: 18px;
    color:#e5e7eb;
    text-decoration: none;
}
.section1{
   background-color: #1f2937;
   height: auto;
   width: auto;
}
.header-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    gap: 30px;
}
#Logo{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
}
.header-body img{
    height: 200px;
    width: 400px;
}
.header-body .right{
    height: 200px;
    width: 400px;
}
.header-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 150px;
    gap: 16px;
}
#hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
#hero-sub{
    font-size: 18px;
    color: #e5e7eb;
}
#SignUp{
    font-size: 15px;
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 120px;
    margin-top: 8px;
    text-align: center;
}
/********** Section 2**********/
.section2{
    background-color: white;
    height: auto;
    width: auto;
}
#body-main{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}
.box{
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}
.body-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 215px;
}
.box-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: auto;
    width: 150px;
    text-align: center;
}
/*********Section 3********/
