.container, .header{
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #1f2937;
}

.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#logo{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;  
}

.header-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

.header-image{
    height: 200px;
    width: 900px;
    background-color: #7d8085;
    display: flex;
    justify-content: center;
    align-items: center;
}
#placeholder{
    font-size: 18px ;
    color:#e5e7eb;
}
#subheader, #subheader-text{
    margin: 0;
}
#subheader{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
#subheader-text{
    font-size: 18px;
    color: #e5e7eb;
}
